---
import Meta from "../../components/meta.astro";
---

<Meta
  title={"Write it down - Valentin Cassarino"}
  description="My crappy superpower is solving difficult problems as I'm falling asleep"
/>
<div class="mx-auto max-w-[576px] w-full max-[592px]:px-4 pb-8">
  <div class="flex items-center gap-1 mt-4 sm:mt-16 text-sm">
    <a
      href="/"
      class="inline-flex items-center bg-zinc-100 text-zinc-500 rounded-[10px] px-1 h-7 hover:bg-zinc-200"
    >
      <svg
        class="size-3.5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-5 h-5"
      >
        <path
          fill-rule="evenodd"
          d="M17 10a.75.75 0 0 1-.75.75H5.612l4.158 3.96a.75.75 0 1 1-1.04 1.08l-5.5-5.25a.75.75 0 0 1 0-1.08l5.5-5.25a.75.75 0 1 1 1.04 1.08L5.612 9.25H16.25A.75.75 0 0 1 17 10Z"
          clip-rule="evenodd"></path>
      </svg>

      <span class="px-1">Go back</span>
    </a>
    <svg
      class="size-4 text-zinc-300"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="w-4 h-4"
    >
      <path
        fill-rule="evenodd"
        d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z"
        clip-rule="evenodd"></path>
    </svg>

    <a
      href="/"
      class="inline-flex items-center bg-zinc-100 text-zinc-500 rounded-[10px] px-1 h-7 hover:bg-zinc-200"
    >
      <span class="px-1">Posts</span>
    </a>

    <svg
      class="size-4 text-zinc-300"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="w-4 h-4"
    >
      <path
        fill-rule="evenodd"
        d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z"
        clip-rule="evenodd"></path>
    </svg>

    <span
      class="text-zinc-500 h-7 inline-flex items-center rounded-[10px] border border-zinc-200 px-1"
    >
      <span class="px-1">Write it down</span>
    </span>
  </div>
  <article class="mt-9 space-y-4">
    <h1 class="font-serif text-2xl">Write it down</h1>
    <div class="space-y-4 text-sm">
      <p>
        My crappy superpower is solving difficult problems as I'm falling
        asleep. Doesn't sound too bad, right? Here's the catch: I always
        convince myself I don't need to write the solution down.
      </p>
      <p>
        It's 1:18 AM. I just figured it out. The answer is so simple, I can't
        believe it took me this long. Do I blind myself opening my phone to
        write it down? No, I can finally sleep now! There's no way I'll forget.
      </p>
      <p>It's 8:32 AM. I can't believe I've done this again.</p>
      <hr class="w-full" />
      <p>
        I have a new policy: write it down. Every single time. No matter if the
        idea comes to me in the shower, the middle of a dream, or in a
        conversation.
      </p>
    </div>
  </article>
</div>
