---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}
const props = Astro.props;
---

<a
  class="px-3 text-sm isolate relative before:inset-0 bg-blue-600 hover:brightness-110 [text-shadow:0px_1px_1px_rgba(0,_12,_57,_0.08)] bg-[radial-gradient(135.29%_32.35%_at_52.94%_67.65%,_#3460FF_0%,_#428FFD_100%)] inline-grid place-content-center text-white font-medium rounded-md h-[34px] shadow-[0px_3px_8px_rgba(0,_12,_57,_0.05),_0px_1px_2px_rgba(0,_12,_57,_0.29),_0px_0px_0px_1px_#4390FE,_inset_0px_1px_0px_rgba(255,_255,_255,_0.16)]"
  {...props}
>
  <slot name="label" />
</a>
